/* Header */

.header-nav li span {
  width: 24px;
  height: 24px;
}

.header-nav--menu {  
  columns: red;
  background-image: url('../assets/icons/menu.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-nav--logo {
  width: 97px;
  height: 20px;
}